<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white d-flex" routerLink="videos">
            <!-- <img src="./assets/images/logo.png" style="width: 24px;height: 24px;"> -->
            <h5 class="mx-3 my-0" style="color: black"><b>Premic-Edu</b></h5>
          </a>

          <div class="d-flex">
            <div class="dropdown">
              <button
                class="btn dropdown-toggle me-3"
                style="border: none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="fw-bold"
                  ><i class="bi bi-person-circle"></i>&nbsp;Hi,&nbsp;{{
                    userName
                  }}</span
                >
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    (click)="logout()"
                    style="cursor: pointer"
                    ><i class="bi bi-box-arrow-right"></i> Sign out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
